<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Purchase Order {{poNumber}}">
  <ion-content>
	  
	  
	  <ul class="card">
		  
	  <li class="item item-divider">
		  ORDER IDENTIFICATION
	  </li>
	  <li class="item">
		  Customer Order Number : 271834054
	  </li>
	   	  <li class="item">
		  Est. Delivery Date : June-10-2015
	  </li>
 
	 
	  <li class="item">
		  PO Amount : 25,000 USD
	  </li>
	  <li class="item">
		  Shipment Method : OCEAN
	  </li>
	  <li class="item item-text-wrap">
		  Order Destination : Scout Inc., 142 Orchard Avenue, Orlando, Florida 32803, USA.
	  </li>
	  
	  </ul>
	  
  </ion-content>
</ion-view>
